.AccordionMain {
    width: 50%;
    margin: auto;
    /* display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    /* flex-basis: 10%; */
    /* flex-grow: 4; */
    /* width: 100%; */
}
