.footerMain {
    display: flex;
    flex-flow: row wrap;
    flex-grow: 4;
    flex-basis: auto;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #ffe88c;
    padding: 20px;
    /* text-decoration: none !important; */
}
.footerMain > h6,
a {
    text-decoration: none;
    /* color: black; */
}
.footerIcon {
    color: blue;
}
/* .footerMain {
    background-color: #2b3636;
}
.footerMain h6,
a {
    color: #acc1c7;
}
.footerMain li:hover {
    transform: scale(1.1);
    transition: 0.1s;
}

.footer-pro {
    padding: 25px;
} */
