.customDropDown {
    position: relative;
}
.customDropDownItems {
    position: absolute;
    top: 2px;
    left: 159px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    border-bottom: 1px solid lightgrey;
}
