.form {
    position: relative;

    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* justify-content: center;
    align-items: center; */
}
.button {
    position: absolute;
    top: 0px;
    left: 800px;
    display: flex;

    /* margin: 0 auto; */
}
.searchIcon {
    margin-left: 4px;
    padding-right: 10px;
}
.button2 {
    border-radius: 40px;
    position: fixed;
    top: 860px;
    left: 1865px;
    z-index: 2;
}
.button2:hover {
    background-color: green;
}
